/* HistogramByWeek.css */



.bar-chart-container {
    width: 100%; /* Set your preferred width */
    margin: 0 auto;
   
}

.bar-chart-container .recharts-wrapper {
    font-size: 14px; /* Control font size inside chart */
}

.bar {
    fill: #b93131; /* Bar color */
}
